.header.header-wesleyan
	.header-inner
		.container
			= image_tag "wesleyan/wesleyan-crest.png", class: "crest"
			.header-title
				National Dominican Student Conference
			.header-subtitle
				Wesleyan University, March 28 - 30, 2013