.header.header-brown
	.header-inner
		.container
			= image_tag "brown/brown-crest.png", class: "crest"
			.header-title
				National Dominican Student Conference
			.header-subtitle
				Brown University, April 6 - 8, 2012